@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body {
    font-family: 'Crimson Text', serif;
}

.container {
    /* border: 1px solid red; */
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-color {
    /* border: 1px solid blue; */
    text-align: center;
}

.hex-color h1 {
    /* border: 1px solid yellow; */
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorChange 5s infinite alternate;
}

.hex-color h2 {
    /* border: 1px solid black; */
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorChange {
    0% {
        color: #5d049c;
    }
    20% {
        color: #041b9c;
    }
    40% {
        color: #04859c;
    }
    60% {
        color: #049c69;
    }
    80% {
        color: #929c04;
    }
    100% {
        color: #9c3c04;
    }
}

@media (max-width:480px) {
    .hex-color h1 {
        font-size: 1.5rem;
    }
    .hex-color h2 {
        font-size: 1.5rem;
    }
}